<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acquisition.mapper.CjDataSourceTabColInfoMapper" >
  <resultMap id="BaseResultMap" type="com.acquisition.entity.CjDataSourceTabColInfo" >
    <id column="business_system_name_short_name" property="businessSystemNameShortName" jdbcType="VARCHAR" />
    <id column="data_source_schema" property="dataSourceSchema" jdbcType="VARCHAR" />
    <id column="data_source_table" property="dataSourceTable" jdbcType="VARCHAR" />
    <id column="data_source_col_name" property="dataSourceColName" jdbcType="VARCHAR" />
    <result column="business_system_ID" property="businessSystemId" jdbcType="VARCHAR" />
    <result column="data_source_table_comment" property="dataSourceTableComment" jdbcType="VARCHAR" />
    <result column="data_source_col_order" property="dataSourceColOrder" jdbcType="VARCHAR" />
    <result column="data_source_col_primarykey_flag" property="dataSourceColPrimarykeyFlag" jdbcType="CHAR" />
    <result column="data_source_col_isnull_flag" property="dataSourceColIsnullFlag" jdbcType="CHAR" />
    <result column="data_source_col_datatype" property="dataSourceColDatatype" jdbcType="VARCHAR" />
    <result column="data_source_col_len" property="dataSourceColLen" jdbcType="VARCHAR" />
    <result column="data_source_col_precision" property="dataSourceColPrecision" jdbcType="VARCHAR" />
    <result column="data_source_col_scale" property="dataSourceColScale" jdbcType="VARCHAR" />
    <result column="data_source_col_comment" property="dataSourceColComment" jdbcType="VARCHAR" />
    <result column="data_source_col_datalake_flag" property="dataSourceColDatalakeFlag" jdbcType="CHAR" />
    <result column="last_modify_dt" property="lastModifyDt" jdbcType="VARCHAR" />
    <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    business_system_name_short_name, data_source_schema, data_source_table, data_source_col_name, 
    business_system_ID, data_source_table_comment, data_source_col_order, data_source_col_primarykey_flag, 
    data_source_col_isnull_flag, data_source_col_datatype, data_source_col_len, data_source_col_precision, 
    data_source_col_scale, data_source_col_comment, data_source_col_datalake_flag, last_modify_dt, 
    last_modify_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDataSourceTabColInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cj_data_source_tab_col_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDataSourceTabColInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from cj_data_source_tab_col_info
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and data_source_table = #{dataSourceTable,jdbcType=VARCHAR}
      and data_source_col_name = #{dataSourceColName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.acquisition.entity.CjDataSourceTabColInfoKey" >
    delete from cj_data_source_tab_col_info
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and data_source_table = #{dataSourceTable,jdbcType=VARCHAR}
      and data_source_col_name = #{dataSourceColName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.acquisition.entity.CjDataSourceTabColInfoExample" >
    delete from cj_data_source_tab_col_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.acquisition.entity.CjDataSourceTabColInfo" >
    insert into cj_data_source_tab_col_info (business_system_name_short_name, data_source_schema, 
      data_source_table, data_source_col_name, business_system_ID, 
      data_source_table_comment, data_source_col_order, 
      data_source_col_primarykey_flag, data_source_col_isnull_flag, 
      data_source_col_datatype, data_source_col_len, 
      data_source_col_precision, data_source_col_scale, 
      data_source_col_comment, data_source_col_datalake_flag, 
      last_modify_dt, last_modify_by)
    values (#{businessSystemNameShortName,jdbcType=VARCHAR}, #{dataSourceSchema,jdbcType=VARCHAR}, 
      #{dataSourceTable,jdbcType=VARCHAR}, #{dataSourceColName,jdbcType=VARCHAR}, #{businessSystemId,jdbcType=VARCHAR}, 
      #{dataSourceTableComment,jdbcType=VARCHAR}, #{dataSourceColOrder,jdbcType=VARCHAR}, 
      #{dataSourceColPrimarykeyFlag,jdbcType=CHAR}, #{dataSourceColIsnullFlag,jdbcType=CHAR}, 
      #{dataSourceColDatatype,jdbcType=VARCHAR}, #{dataSourceColLen,jdbcType=VARCHAR}, 
      #{dataSourceColPrecision,jdbcType=VARCHAR}, #{dataSourceColScale,jdbcType=VARCHAR}, 
      #{dataSourceColComment,jdbcType=VARCHAR}, #{dataSourceColDatalakeFlag,jdbcType=CHAR}, 
      #{lastModifyDt,jdbcType=VARCHAR}, #{lastModifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.acquisition.entity.CjDataSourceTabColInfo" >
    insert into cj_data_source_tab_col_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessSystemNameShortName != null" >
        business_system_name_short_name,
      </if>
      <if test="dataSourceSchema != null" >
        data_source_schema,
      </if>
      <if test="dataSourceTable != null" >
        data_source_table,
      </if>
      <if test="dataSourceColName != null" >
        data_source_col_name,
      </if>
      <if test="businessSystemId != null" >
        business_system_ID,
      </if>
      <if test="dataSourceTableComment != null" >
        data_source_table_comment,
      </if>
      <if test="dataSourceColOrder != null" >
        data_source_col_order,
      </if>
      <if test="dataSourceColPrimarykeyFlag != null" >
        data_source_col_primarykey_flag,
      </if>
      <if test="dataSourceColIsnullFlag != null" >
        data_source_col_isnull_flag,
      </if>
      <if test="dataSourceColDatatype != null" >
        data_source_col_datatype,
      </if>
      <if test="dataSourceColLen != null" >
        data_source_col_len,
      </if>
      <if test="dataSourceColPrecision != null" >
        data_source_col_precision,
      </if>
      <if test="dataSourceColScale != null" >
        data_source_col_scale,
      </if>
      <if test="dataSourceColComment != null" >
        data_source_col_comment,
      </if>
      <if test="dataSourceColDatalakeFlag != null" >
        data_source_col_datalake_flag,
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt,
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessSystemNameShortName != null" >
        #{businessSystemNameShortName,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceSchema != null" >
        #{dataSourceSchema,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceTable != null" >
        #{dataSourceTable,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColName != null" >
        #{dataSourceColName,jdbcType=VARCHAR},
      </if>
      <if test="businessSystemId != null" >
        #{businessSystemId,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceTableComment != null" >
        #{dataSourceTableComment,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColOrder != null" >
        #{dataSourceColOrder,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColPrimarykeyFlag != null" >
        #{dataSourceColPrimarykeyFlag,jdbcType=CHAR},
      </if>
      <if test="dataSourceColIsnullFlag != null" >
        #{dataSourceColIsnullFlag,jdbcType=CHAR},
      </if>
      <if test="dataSourceColDatatype != null" >
        #{dataSourceColDatatype,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColLen != null" >
        #{dataSourceColLen,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColPrecision != null" >
        #{dataSourceColPrecision,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColScale != null" >
        #{dataSourceColScale,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColComment != null" >
        #{dataSourceColComment,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColDatalakeFlag != null" >
        #{dataSourceColDatalakeFlag,jdbcType=CHAR},
      </if>
      <if test="lastModifyDt != null" >
        #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.acquisition.entity.CjDataSourceTabColInfoExample" resultType="java.lang.Integer" >
    select count(*) from cj_data_source_tab_col_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cj_data_source_tab_col_info
    <set >
      <if test="record.businessSystemNameShortName != null" >
        business_system_name_short_name = #{record.businessSystemNameShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceSchema != null" >
        data_source_schema = #{record.dataSourceSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceTable != null" >
        data_source_table = #{record.dataSourceTable,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColName != null" >
        data_source_col_name = #{record.dataSourceColName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessSystemId != null" >
        business_system_ID = #{record.businessSystemId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceTableComment != null" >
        data_source_table_comment = #{record.dataSourceTableComment,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColOrder != null" >
        data_source_col_order = #{record.dataSourceColOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColPrimarykeyFlag != null" >
        data_source_col_primarykey_flag = #{record.dataSourceColPrimarykeyFlag,jdbcType=CHAR},
      </if>
      <if test="record.dataSourceColIsnullFlag != null" >
        data_source_col_isnull_flag = #{record.dataSourceColIsnullFlag,jdbcType=CHAR},
      </if>
      <if test="record.dataSourceColDatatype != null" >
        data_source_col_datatype = #{record.dataSourceColDatatype,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColLen != null" >
        data_source_col_len = #{record.dataSourceColLen,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColPrecision != null" >
        data_source_col_precision = #{record.dataSourceColPrecision,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColScale != null" >
        data_source_col_scale = #{record.dataSourceColScale,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColComment != null" >
        data_source_col_comment = #{record.dataSourceColComment,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceColDatalakeFlag != null" >
        data_source_col_datalake_flag = #{record.dataSourceColDatalakeFlag,jdbcType=CHAR},
      </if>
      <if test="record.lastModifyDt != null" >
        last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyBy != null" >
        last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cj_data_source_tab_col_info
    set business_system_name_short_name = #{record.businessSystemNameShortName,jdbcType=VARCHAR},
      data_source_schema = #{record.dataSourceSchema,jdbcType=VARCHAR},
      data_source_table = #{record.dataSourceTable,jdbcType=VARCHAR},
      data_source_col_name = #{record.dataSourceColName,jdbcType=VARCHAR},
      business_system_ID = #{record.businessSystemId,jdbcType=VARCHAR},
      data_source_table_comment = #{record.dataSourceTableComment,jdbcType=VARCHAR},
      data_source_col_order = #{record.dataSourceColOrder,jdbcType=VARCHAR},
      data_source_col_primarykey_flag = #{record.dataSourceColPrimarykeyFlag,jdbcType=CHAR},
      data_source_col_isnull_flag = #{record.dataSourceColIsnullFlag,jdbcType=CHAR},
      data_source_col_datatype = #{record.dataSourceColDatatype,jdbcType=VARCHAR},
      data_source_col_len = #{record.dataSourceColLen,jdbcType=VARCHAR},
      data_source_col_precision = #{record.dataSourceColPrecision,jdbcType=VARCHAR},
      data_source_col_scale = #{record.dataSourceColScale,jdbcType=VARCHAR},
      data_source_col_comment = #{record.dataSourceColComment,jdbcType=VARCHAR},
      data_source_col_datalake_flag = #{record.dataSourceColDatalakeFlag,jdbcType=CHAR},
      last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.acquisition.entity.CjDataSourceTabColInfo" >
    update cj_data_source_tab_col_info
    <set >
      <if test="businessSystemId != null" >
        business_system_ID = #{businessSystemId,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceTableComment != null" >
        data_source_table_comment = #{dataSourceTableComment,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColOrder != null" >
        data_source_col_order = #{dataSourceColOrder,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColPrimarykeyFlag != null" >
        data_source_col_primarykey_flag = #{dataSourceColPrimarykeyFlag,jdbcType=CHAR},
      </if>
      <if test="dataSourceColIsnullFlag != null" >
        data_source_col_isnull_flag = #{dataSourceColIsnullFlag,jdbcType=CHAR},
      </if>
      <if test="dataSourceColDatatype != null" >
        data_source_col_datatype = #{dataSourceColDatatype,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColLen != null" >
        data_source_col_len = #{dataSourceColLen,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColPrecision != null" >
        data_source_col_precision = #{dataSourceColPrecision,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColScale != null" >
        data_source_col_scale = #{dataSourceColScale,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColComment != null" >
        data_source_col_comment = #{dataSourceColComment,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceColDatalakeFlag != null" >
        data_source_col_datalake_flag = #{dataSourceColDatalakeFlag,jdbcType=CHAR},
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by = #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and data_source_table = #{dataSourceTable,jdbcType=VARCHAR}
      and data_source_col_name = #{dataSourceColName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.acquisition.entity.CjDataSourceTabColInfo" >
    update cj_data_source_tab_col_info
    set business_system_ID = #{businessSystemId,jdbcType=VARCHAR},
      data_source_table_comment = #{dataSourceTableComment,jdbcType=VARCHAR},
      data_source_col_order = #{dataSourceColOrder,jdbcType=VARCHAR},
      data_source_col_primarykey_flag = #{dataSourceColPrimarykeyFlag,jdbcType=CHAR},
      data_source_col_isnull_flag = #{dataSourceColIsnullFlag,jdbcType=CHAR},
      data_source_col_datatype = #{dataSourceColDatatype,jdbcType=VARCHAR},
      data_source_col_len = #{dataSourceColLen,jdbcType=VARCHAR},
      data_source_col_precision = #{dataSourceColPrecision,jdbcType=VARCHAR},
      data_source_col_scale = #{dataSourceColScale,jdbcType=VARCHAR},
      data_source_col_comment = #{dataSourceColComment,jdbcType=VARCHAR},
      data_source_col_datalake_flag = #{dataSourceColDatalakeFlag,jdbcType=CHAR},
      last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{lastModifyBy,jdbcType=VARCHAR}
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and data_source_table = #{dataSourceTable,jdbcType=VARCHAR}
      and data_source_col_name = #{dataSourceColName,jdbcType=VARCHAR}
  </update>
</mapper>