<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acquisition.mapper.CjDwLoadScriptRuleOptMapper" >
  <resultMap id="BaseResultMap" type="com.acquisition.entity.CjDwLoadScriptRuleOpt" >
    <id column="business_system_name_short_name" property="businessSystemNameShortName" jdbcType="VARCHAR" />
    <id column="data_source_schema" property="dataSourceSchema" jdbcType="VARCHAR" />
    <id column="dw_data_table" property="dwDataTable" jdbcType="VARCHAR" />
    <id column="optimize_type" property="optimizeType" jdbcType="VARCHAR" />
    <result column="optimize_comment" property="optimizeComment" jdbcType="VARCHAR" />
    <result column="last_modify_dt" property="lastModifyDt" jdbcType="VARCHAR" />
    <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    business_system_name_short_name, data_source_schema, dw_data_table, optimize_type, 
    optimize_comment, last_modify_dt, last_modify_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cj_dw_load_script_rule_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOptKey" >
    select 
    <include refid="Base_Column_List" />
    from cj_dw_load_script_rule_opt
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
      and optimize_type = #{optimizeType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOptKey" >
    delete from cj_dw_load_script_rule_opt
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
      and optimize_type = #{optimizeType,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOptExample" >
    delete from cj_dw_load_script_rule_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOpt" >
    insert into cj_dw_load_script_rule_opt (business_system_name_short_name, data_source_schema, 
      dw_data_table, optimize_type, optimize_comment, 
      last_modify_dt, last_modify_by)
    values (#{businessSystemNameShortName,jdbcType=VARCHAR}, #{dataSourceSchema,jdbcType=VARCHAR}, 
      #{dwDataTable,jdbcType=VARCHAR}, #{optimizeType,jdbcType=VARCHAR}, #{optimizeComment,jdbcType=VARCHAR}, 
      #{lastModifyDt,jdbcType=VARCHAR}, #{lastModifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOpt" >
    insert into cj_dw_load_script_rule_opt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessSystemNameShortName != null" >
        business_system_name_short_name,
      </if>
      <if test="dataSourceSchema != null" >
        data_source_schema,
      </if>
      <if test="dwDataTable != null" >
        dw_data_table,
      </if>
      <if test="optimizeType != null" >
        optimize_type,
      </if>
      <if test="optimizeComment != null" >
        optimize_comment,
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt,
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessSystemNameShortName != null" >
        #{businessSystemNameShortName,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceSchema != null" >
        #{dataSourceSchema,jdbcType=VARCHAR},
      </if>
      <if test="dwDataTable != null" >
        #{dwDataTable,jdbcType=VARCHAR},
      </if>
      <if test="optimizeType != null" >
        #{optimizeType,jdbcType=VARCHAR},
      </if>
      <if test="optimizeComment != null" >
        #{optimizeComment,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDt != null" >
        #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOptExample" resultType="java.lang.Integer" >
    select count(*) from cj_dw_load_script_rule_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cj_dw_load_script_rule_opt
    <set >
      <if test="record.businessSystemNameShortName != null" >
        business_system_name_short_name = #{record.businessSystemNameShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceSchema != null" >
        data_source_schema = #{record.dataSourceSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.dwDataTable != null" >
        dw_data_table = #{record.dwDataTable,jdbcType=VARCHAR},
      </if>
      <if test="record.optimizeType != null" >
        optimize_type = #{record.optimizeType,jdbcType=VARCHAR},
      </if>
      <if test="record.optimizeComment != null" >
        optimize_comment = #{record.optimizeComment,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyDt != null" >
        last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyBy != null" >
        last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cj_dw_load_script_rule_opt
    set business_system_name_short_name = #{record.businessSystemNameShortName,jdbcType=VARCHAR},
      data_source_schema = #{record.dataSourceSchema,jdbcType=VARCHAR},
      dw_data_table = #{record.dwDataTable,jdbcType=VARCHAR},
      optimize_type = #{record.optimizeType,jdbcType=VARCHAR},
      optimize_comment = #{record.optimizeComment,jdbcType=VARCHAR},
      last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOpt" >
    update cj_dw_load_script_rule_opt
    <set >
      <if test="optimizeComment != null" >
        optimize_comment = #{optimizeComment,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by = #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
      and optimize_type = #{optimizeType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.acquisition.entity.CjDwLoadScriptRuleOpt" >
    update cj_dw_load_script_rule_opt
    set optimize_comment = #{optimizeComment,jdbcType=VARCHAR},
      last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{lastModifyBy,jdbcType=VARCHAR}
    where business_system_name_short_name = #{businessSystemNameShortName,jdbcType=VARCHAR}
      and data_source_schema = #{dataSourceSchema,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
      and optimize_type = #{optimizeType,jdbcType=VARCHAR}
  </update>
</mapper>